<h2>Well hello there, you've reached the destination selection page!</h2>
<br>
<h4>And here's the route & direction that brought you here:</h4>
<h3>
  <strong><%= "Route #{@route.short_name}: #{@route.long_name}" %></strong>, heading <strong><%= @direction == "0" ? @route.inbound : @route.outbound %></strong>
</h3>

<% @trips.each do |trip| %>
  Trip ID: <%= trip.gtfs_trip_id %> Direction: <%= trip.direction_id %><br>
<% end %>

<%= @trip %>

Next steps: spot check a few of the returned max trips
Rather than saving the hash {trip.id: count} as @trip, save just the trip.id to an intermediary variable, then:

Use that trip.id to save the actual object in @trip

Filtered by the current route, determine the closest stop on that route
Find the matching stop ID on the trip.stoptime.sequence, then return the sequence

Increment sequence, and return the stop id so you have a list of stop IDs
Then show the stop names for each of those stop IDs